
/********************************************************************************
* Footer
*********************************************************************************/

/* font */
.footer, .footer .flat-vert.title, .bottommenu {
    font-family: Calibri, Segoe, "Segoe UI", Verdana, Arial, sans-serif;
}

/* borders */
.footer, .footer .col {
    border: 0;
    border-radius: 0;
}

.side {
    margin-bottom: 50px;
}

/* footer parent */
.footer-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px -40px -100px;
  padding: 50px 0 250px;
  border-top: 10px solid #456bd1;
  position: relative;
}

.footer-parent:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  background: url(%%gallery-3-partial%%) center top / cover no-repeat;
}

/* bottom menu
--------------------------------------------------------------------------------*/
.bottommenu, .bottommenu a,
.bottommenu a.updated {
    font-size: 11px;
    color: rgba(255,255,255,0.25);
}

/* footer
--------------------------------------------------------------------------------*/

.footer {
    max-width: none;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  background: rgba(0,0,0,0.8);
}

.footer .col:not(:last-child) {
    margin-right: 80px;
}

.footer .col {
    flex: initial;
    flex: inherit;
}

.footer .col .title {
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 12px;
    color: #fff;
}
.footer .col li:not(.title) a {
    color: #6f96f0;
    font-size: 13px;
    line-height: 18px;
}